
@RenderSection("Scripts", required: false)


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/templatemo-style.css" />
    <link href="https://fonts.cdnfonts.com/css/felix-titling" rel="stylesheet">



</head>

<body>
    <script src="~/js/plugins.js"></script>
    <div class="container" style=" max-width: 1000px;">
        <main role="main" class="pb-3" style="background-color: #ffffff;" >
            @RenderBody()
        </main>
    </div> 
</body>
</html>

