@{
    ViewData["Title"] = "Matrimonio Makarena y Raimundo";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrimonio M&R</title>

    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">



<!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
</head>



<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    


    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" href="/Home/Index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Regalos">Regalos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Ubicacion">Ubicación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Login">Administración</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>




    <!-- foto -->
    <div class=" " style="position: relative">
        <img class="imagen-fluid" src="/img/pic3.jpg" style="height:100% ; width: 100% ">

        <h2 class="w-100 text-center ; cool-font" style="position: relative;color: white; position: absolute; top: 5%">Makarena & Raimundo</h2>
        <h1 class="w-100 text-center cool-font" style="position: relative;color: white; position: absolute; top: 80% ; font-size:3.2rem"><strong>¡Nos casamos!</strong></h1>         <!-- 1st 30px // 2nd 90px // 3rd 50px-->
        
     </div>
    <!-- texto debajo de la foto -->

    <div class="container-fluid" style="padding-top: 2rem ">
        <h2 class=" mx-5 py-2 text-center" style="">
            Y queremos invitarte a nuestro matrimonio
            para celebrar este día tan especial
        </h2>
    </div>
    
    <!-- estrellita-->
    <div class="container-fluid ">
        <img class="imagen-fluid mx-auto center " src="/img/icono.png" style="display:block; height:130px ; width: 130px ">
    </div>




    <div class="container-fluid tm-mt-60 pb-1">

        <div class="row tm-mb-74 tm-row-1640 m-1 p-2 " style="border-radius: 15px; border: solid 3px; border-color: darkgrey">
            <div class="col-md-5 col-12 p-1 container-imagen">

                    <img src="/img/pic1.jpg" alt="Image" class=" crop" style="">

            </div>
            <div class="col-md-7 col-12 pt-5" >
                <h1 class="text-center cool-font" style="text-align: center;">Reserva la fecha</h1>

                <div class="container-fluid cool-font">
                    <div class="row">
                        <h1 class="col-6" style="text-align: right; font-size: 60px" >11</h1>
                        <h5 class="col-6 my-auto" >Febrero <br> 2023</h5>
                        <h5 class="col-12" style="text-align: center;">18:00 horas</h5>

                    </div>                                                               
                </div>



                <div class="container-fluid">
                    <h4 class="cool-font" style="text-align: center">Chapanay, Mantagua. V Región</h4>

                </div>

                <h5 class="text-center mb-2">Para más información haz click <a href="/Home/Ubicacion">Aqui</a></h5>
                <h5 class="text-center">Para los regalos haz click <a href="/Home/Regalos">Aqui</a></h5>
            </div>
        </div>

        <div class="container-fluid ">
        <img class="imagen-fluid mx-auto center " src="/img/icono.png" style="display:block; height:130px ; width: 130px ">
    </div>
       


       
    </div> <!-- container-fluid, tm-container-content -->

    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            
        </div>
    </footer>
    
    <script src="js/plugins.js"></script>
    <script>
        $(document).ready(function(){
            $('.parallax-mirror').addClass('d-none');
        });
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>