@{
    ViewData["Title"] = "Matrimonio Makarena y Raimundo";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrimonio M&R</title>
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">



<!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
</head>



<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    


    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" href="/Home/Index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Regalos">Regalos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Ubicacion">Ubicacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Login">Administracion</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>




    <!-- foto -->
    <div class="container-fluid " style="position: relative">
        <img class="imagen-fluid" src="/img/pic3.png" style="height:100% ; width: 100% ">
        <h1 class="w-100 text-center ; cool-font" style="color:white; position: absolute; top: 5%; font-size: 30px" >Makarena & Raimundo</h1>
        <h1 class="w-100 text-center ; cool-font" style="color:white; position: absolute; top: 13%; font-size: 90px">¡Nos casamos!</h1>
     </div>
    <!-- texto debajo de la foto -->
    <h2 class=" mx-5 py-2 text-center" style="font-size : 50px">
        Y queremos invitarte a nuestro matrimonio
        para celebrar este día tan especial
    </h2>
    <!-- estrellita-->
    <div class="container-fluid ">
        <img class="imagen-fluid mx-auto center " src="/img/icono.png" style="display:block; height:130px ; width: 130px ">
    </div>




    <div class="container-fluid tm-mt-60 pb-1">
        <div class="row mb-4">
            <h2 class="col-12 " style="text-align: center;">
                Te esperamos en la ceremonia la cual será seguida de la celebración en el mismo lugar
            </h2>
        </div>



        <div class="row tm-mb-74 tm-row-1640 m-1 p-2 border border-secondary" style="">            
            <div class="col-md-5 col-12 p-1 container-imagen">

                    <img src="/img/pic1.jpg" alt="Image" class=" crop" style="">

            </div>
            <div class="col-md-7 col-12 pt-5" >
                <h1 class="text-center">Reserva la fecha</h1> 
                <h4 class="text-center text-nowrap">1 de Febrero 2023, 18:00 hrs, Chapanay, Mantagua</h4>
                <h4 class="text-center">Para mas información haz click <a href="/Home/Ubicacion">Aqui</a></h4>
            </div>
        </div>

        <div class="container-fluid ">
        <img class="imagen-fluid mx-auto center " src="/img/icono.png" style="display:block; height:130px ; width: 130px ">
    </div>
       


       
    </div> <!-- container-fluid, tm-container-content -->

    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            
        </div>
    </footer>
    
    <script src="js/plugins.js"></script>
    <script>
        $(document).ready(function(){
            $('.parallax-mirror').addClass('d-none');
        });
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>