@{
    ViewData["Title"] = "Matrimonio Makarena y Raimundo";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrimonio M&R</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/templatemo-style.css">


<!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
</head>



<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    



    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 " href="/Home/Index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active "aria-current="page" href="/Home/Regalos">Regalos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Ubicacion">Ubicacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Login">Administracion</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

  
    <div class=" align-content-center d-flex justify-content-center cool-font"><h1>Makarena y Raimundo</h1></div>


    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/img/newbanner.jpg">
        <h3 class=" align-content-center d-flex justify-content-center cool-font">Lista de regalos</h3>

    </div>





    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary">
                Elige de esta lista de regalos 
            </h2>            
        </div>



        
<!-- GIFT ARRAY OF STUFF-->


        <div class="row tm-mb-90 tm-gallery">


        	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/img/regalos/desayuno.bmp" alt="Image" class="img-fluid giftSize">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Desayuno en luna de miel</h2>
                        <a href="/Home/Regalo?name=pichula">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">Desayuno en luna de miel</span>
                    <span>30.000$</span>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/img/regalos/ExperienciaOutdoor.png" alt="Image" class="img-fluid giftSize">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Experiencia Outdoor</h2>
                        <a href="photo-detail.html">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">Experiencia Outdoor</span>
                    <span>50.000$</span>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/img/regalos/spa.jpg" alt="Image" class="img-fluid giftSize">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Dia de Spa</h2>
                        <a href="photo-detail.html">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">Dia de Spa</span>
                    <span>60.000$</span>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/img/regalos/cena romantica.jpg" alt="Image" class="img-fluid giftSize">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Cena Romantica</h2>
                        <a href="photo-detail.html">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">Cena Romantica en Luna de miel</span>
                    <span>80.000$</span>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/img/regalos/hotellunademiel.jpg" alt="Image" class="img-fluid giftSize">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Noche de hotel</h2>
                        <a href="photo-detail.html">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">Noche de Hotel en luna de miel</span>
                    <span>100.000$</span>
                </div>
            </div>



            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/img/regalos/PaisajismoCasaPropia.jpg" alt="Image" class="img-fluid giftSize">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Paisajismo casa propia</h2>
                        <a href="photo-detail.html">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">Paisajismo casa propia</span>
                    <span>120.000$</span>
                </div>
            </div>




            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/img/regalos/tourlunademiel.jpg" alt="Image" class="img-fluid giftSize">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Tour Luna de Miel</h2>
                        <a href="photo-detail.html">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">Tour luna de miel</span>
                    <span>130.000$</span>
                </div>
            </div>



            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/img/regalos/PasajesLunaDeMiel.png" alt="Image" class="img-fluid giftSize">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Pasajes luna de miel</h2>
                        <a href="photo-detail.html">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">Aporte para pasajes Luna de Miel</span>
                    <span>160.000$</span>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/img/regalos/renovacionmuebles.jpg" alt="Image" class="img-fluid giftSize">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Renovacion muebles para casa</h2>
                        <a href="photo-detail.html">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">Renovacion de muebles para casa propia</span>
                    <span>250.000$</span>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/img/regalos/aportecasa1.jpg" alt="Image" class="img-fluid giftSize">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Aporte Casa Propia</h2>
                        <a href="photo-detail.html">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">Aporte de 300.000$ para la casa propia</span>
                    <span>300.000$</span>
                </div>
            </div>



            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/img/regalos/aportecasa2.jpg" alt="Image" class="img-fluid giftSize">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Aporte Casa Propia</h2>
                        <a href="photo-detail.html">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">Aporte de 400.000$ para la casa propia</span>
                    <span>400.000$</span>
                </div>
            </div>



            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/img/regalos/aportecasa3.jpg" alt="Image" class="img-fluid giftSize">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Aporte Casa Propia</h2>
                        <a href="photo-detail.html">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">Aporte de 500.000$ para la casa propia</span>
                    <span>500.000$</span>
                </div>
            </div>



            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/img/img-13.jpg" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Danos tu Regalo</h2>
                        <a href="photo-detail.html">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">Elige que regalarnos</span>
                    <span>Paga lo que quieras</span>
                </div>
            </div>



                 
    </div>







    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            
            <div class="row">
                


            </div>
        </div>
    </footer>
    
    <script src="js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>