@{
    ViewData["Title"] = "Matrimonio Makarena y Raimundo";
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrimonio M&R</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/templatemo-style.css">

</head>

<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="position: absolute; left: 0px">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Regalos">Regalos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" href="/Home/Ubicacion">Ubicacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Login">Administracion</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
 
    <div class=" align-content-center d-flex justify-content-center cool-font"><h1>Makarena y Raimundo</h1></div>

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/img/newbanner.jpg"></div>

    <div class=" container-fluid "><h3 class="cool-font align-content-center">Nos casaremos aqui,te esperamos</h3></div>

    <div class="container-fluid tm-mt-60">

        <div class="row tm-mb-74 tm-row-1640">            
            
            <div class="mapouter mb-4">
                    <div class="gmap-canvas">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3985.4108874101767!2d-71.47909743609337!3d-32.86331557739028!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfd7bddd40b531a23!2sCHAPANAY!5e0!3m2!1sen!2scl!4v1667956390186!5m2!1sen!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
            </div> 

            <div class="col-lg-7 col-md-6 col-12">
                <div class="tm-about-img-text">

                    <h2 class="col-12 tm-text-primary">Chapanay</h2>
                    <p class="mb-4">Un inigualable centro de eventos en lo alto de una loma en el valle de Mantagua, un ambiente inigualable para un matrimonio inolvidable</p>


                    <div class="container-fluid">
                        <img src="/img/chapanay.jpg" alt="image" class="img-fluid"/>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row tm-mb-50">
            <div class="col-md-6 col-12">
                <div class="tm-about-2-col">
                    <h2 class="tm-text-primary mb-4">
                        Codigo de vestimenta: Formal
                    </h2>
                    <p class="mb-4">
                        Se supone que estoy poniendo algo mas de informacion aca.                    
                    </p>
                    <p>
                         Este es otro parrafo
                    </p>
                </div>                
            </div> 
            
        </div>      
    </div> 

    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            
            
        </div>
    </footer>
    
    <script src="js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>