@{
    ViewData["Title"] = "Matrimonio Makarena y Raimundo";
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrimonio M&R</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/templatemo-style.css">

</head>

<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Regalos">Regalos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" href="/Home/Ubicacion">Ubicacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Login">Administracion</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
 
    <div class=" my-3 align-content-center d-flex justify-content-center cool-font text-center"><h1>Makarena y Raimundo</h1></div>

    <div class=" my-3 container-fluid text-center "><h3 class="cool-font align-content-center">Nos casaremos aqui,te esperamos</h3></div>

    


        <div class ="row mx-1"> 
            <div class ="col-md-6 col-12 p-2"> 
                <div class="container-fluid">
                    <img src="/img/chapanay.jpg" alt="image" class="img-fluid"/>
                </div>
              
            </div>
            <div class ="col-md-6 col-12 p-2"> 
                 <!--aqui lo h1--->
                 <h2>Confirma tu asistencia</h2>
                 <h5>Confirma tu asistencia hasta el 15 de enero de 2023</h5>
                 <h5>Dress Code: Vestimenta Formal</h5>
                 <h5>¡Gracias por acompañarnos este gran día!</h5>
                 <h5>¡Te esperamos!</h5>
               
            </div>
        </div>

         <style>
             .map-frame {
                width: 100%;
                height: 100%;
                position: relative;
            }
         </style>           

        <!--mapa no tocar--->

        <!--fin mapa no tocar--->


        <div class="gmap-canvas w-100 ">
            <iframe class="map-frame p-3" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3985.4108874101767!2d-71.47909743609337!3d-32.86331557739028!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfd7bddd40b531a23!2sCHAPANAY!5e0!3m2!1sen!2scl!4v1667956390186!5m2!1sen!2scl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
                <!--estrella--->
    <div class="container-fluid my-4">
        <img class="imagen-fluid mx-auto center " src="/img/icono.png" style="display:block; height:130px ; width: 130px ">
    </div>

    
    <script src="js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>